<div class="w-100 text-center">
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin h1 m-5"></i>
</div>
<div *ngIf="apiError" class="alert alert-danger my-5">{{apiError}}</div>

<div *ngIf="productDetails && !isLoading && !apiError" class="row align-items-center py-4">

  <div class="col-md-4">

  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let image of productDetails.images">
      <ng-template carouselSlide>
        <img [src]="image" [alt]="" >
      </ng-template>
    </ng-container>

  </owl-carousel-o>

    <!-- <img [src]="productDetails.imageCover" alt="" class="w-100"> -->
  </div>

  <div *ngIf="productDetails" class="col-md-8">
    <h2 class="h4 fw-bolder mb-2">{{productDetails.title}}</h2>
    <p class="text-muted p-3">{{productDetails.description}}</p>
    <div class="d-flex align-items-center justify-content-between">
      <span class="text-muted fw-bold font-sm">{{productDetails.price}} EGP</span>
      <div >
        <i class="fas fa-star rating-color"></i>
        {{productDetails.ratingsAverage}}
      </div>
    </div>

    <button (click)="isLogin ? addToCart(productDetails._id): navgateTo()" *ngIf="productDetails" class="btn bg-main text-white w-100 my-2">+ Add</button>
  </div>

</div>
