@media (min-width: 300px) and (max-width: 600px) {
  .py-xs-3{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
  }

  .w-xs-50 {
    width: 50%!important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
