<section class="p-4 bg-main-light">
  <div class="container-fluid">
    <div class="title">
      <h4>{{"Get The FreshCart App" | translate}}</h4>
      <p class="lead text-secondary">
        {{"We Will Send You a Link,open it on Your Phone" | translate}}
      </p>
    </div>

    <div class="footer-info mx-4">
      <div class="form-item d-flex gap-4">
        <input
          type="text"
          class="form-control flex-grow-1"
          placeholder="Email..."
        />
        <button (click)="showSuccess()" class="main-btn px-3 flex-shrink-0" ngxClipboard [cbContent]="'https://heshamghareeb.github.io/freshcart/home'">{{"Share App Link" | translate}}</button>
      </div>

      <hr class="border-secondary" />

      <div class="copy-right">
        <h6 class="text-center">© 2024 Hesham Mosaad , All Rights Reserved</h6>
      </div>
    </div>
  </div>
</section>
