<section class="bg-main-light rounded p-3 shadow w-50 mx-auto">
  <h1 class="text-center h3">Forgot Password</h1>

  <form
    #form1
    *ngIf="first"
    class="vstack gap-3"
    [formGroup]="forgotForm"
    (ngSubmit)="handleForgotPassword()"
  >
    <div class="form-item">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Your Email..."
      />

      <ng-container
        *ngIf="
          f['email'].errors &&
          (f['email'].touched || f['email'].value.length > 0)
        "
      >
        <p
          *ngIf="f['email'].getError('required')"
          class="alert alert-danger w-50 p-1 small"
        >
          Email is required
        </p>
        <p
          *ngIf="f['email'].getError('email')"
          class="alert alert-danger w-50 p-1 small"
        >
          Email InValid Format
        </p>
      </ng-container>
    </div>

    <button *ngIf="!isLoading" [disabled]="forgotForm.invalid" class="main-btn">
      Next
    </button>
    <button *ngIf="isLoading" type="button" disabled class="main-btn ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p
      class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3"
      *ngIf="errMsg"
    >
      {{ errMsg }}
    </p>
  </form>

  <form
    #form2
    *ngIf="seconde"
    class="vstack gap-3"
    [formGroup]="verifyCode"
    (ngSubmit)="handleVerifyResetCode()"
  >
    <div class="form-item">
      <label for="resetCode">Reset Code:</label>
      <input
        type="text"
        formControlName="resetCode"
        class="form-control"
        placeholder="Your Reset Code..."
      />

      <ng-container
        *ngIf="
          r['resetCode'].errors &&
          (r['resetCode'].touched || r['resetCode'].value.length > 0)
        "
      >
        <p
          *ngIf="r['resetCode'].getError('required')"
          class="alert alert-danger w-50 p-1 small"
        >
          resetCode is required
        </p>
        <p
          *ngIf="r['resetCode'].getError('pattern')"
          class="alert alert-danger w-50 p-1 small"
        >
          must be at 6 chars
        </p>
      </ng-container>
    </div>

    <button *ngIf="!isLoading" [disabled]="verifyCode.invalid" class="main-btn">
      Confirm
    </button>
    <button *ngIf="isLoading" type="button" disabled class="main-btn ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p
      class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3"
      *ngIf="errMsg"
    >
      {{ errMsg }}
    </p>
  </form>

  <form
    #form3
    *ngIf="done"
    class="vstack gap-3"
    [formGroup]="resetPassword"
    (ngSubmit)="handleResetPassword()"
  >
    <div class="form-item">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Your Email..."
      />

      <ng-container
        *ngIf="
          c['email'].errors &&
          (c['email'].touched || c['email'].value.length > 0)
        "
      >
        <p
          *ngIf="c['email'].getError('required')"
          class="alert alert-danger w-50 p-1 small"
        >
          Email is required
        </p>
        <p
          *ngIf="c['email'].getError('email')"
          class="alert alert-danger w-50 p-1 small"
        >
          Email InValid Format
        </p>
      </ng-container>
    </div>

    <div class="form-item">
      <label for="newPassword">newPassword:</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        placeholder="Your newPassword..."
      />

      <ng-container
        *ngIf="
          c['newPassword'].errors &&
          (c['newPassword'].value.length || c['newPassword'].touched)
        "
      >
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="c['newPassword'].getError('required')"
        >
          New Password Is Required
        </p>
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="c['newPassword'].getError('pattern')"
        >
          Must be at least 6 chars
        </p>
      </ng-container>
    </div>

    <button
      *ngIf="!isLoading"
      [disabled]="resetPassword.invalid"
      class="main-btn"
    >
      Done
    </button>
    <button *ngIf="isLoading" type="button" disabled class="main-btn ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p
      class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3"
      *ngIf="errMsg"
    >
      {{ errMsg }}
    </p>
  </form>
</section>
