<app-mainslider></app-mainslider>

<app-categories></app-categories>

<div class="w-100 text-center">
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin h1 p-5"></i>
</div>

<div *ngIf="!isLoading" class="row">
  <div>
    <input
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="Search by Name..."
      class="form-control w-75 mx-auto my-4"
    />
  </div>

  <!-- Products -->
  <div
    *ngFor="let product of products.data | search : searchTerm"
    class="col-md-2"
  >
    <div class="product px-2 py-4">
      <a [routerLink]="['/productdetails', product._id]">
        <img class="w-100" src="{{ product.imageCover }}" alt="" />
        <span class="text-main fw-bold font-sm">{{
          product.category.name
        }}</span>
        <h3 class="h6 fw-bolder">
          {{ product.title.split(" ").slice(0, 2).join(" ") }}
        </h3>
        <!-- <h3 class="h6 text-truncate">{{product.title}}</h3> -->

        <div class="d-flex align-items-center justify-content-between">
          <span class="text-muted fw-bold font-sm"
            >{{ product.price }} EGP</span
          >
          <div>
            <i class="fas fa-star rating-color"></i>
            {{ product.ratingsAverage }}
          </div>
        </div>

      </a>
      <button *ngIf="isLogin" (click)="addToCart(product._id)" class="btn bg-main text-white w-100 my-2">+ Add</button>
    </div>
  </div>
</div>
