<section class="bg-main-light rounded shadow p-3">
  <h1 class="display-4 text-center">{{"Login Now" | translate}}</h1>

  <form
    class="vstack gap-3 w-75 mx-auto"
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()"
  >
    <div class="form-item">
      <label for="email">{{"Email" | translate}}:</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
        placeholder="{{'Your Email' | translate}}...."
      />

      <ng-container
        *ngIf="
          f['email'].errors && (f['email'].value.length || f['email'].touched)
        "
      >
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="f['email'].getError('required')"
        >
          {{"Email Is Required" | translate}}
        </p>
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="f['email'].getError('email')"
        >
          {{"Email Invalid Format" | translate}}
        </p>
      </ng-container>
    </div>

    <div class="form-item">
      <label for="password">{{"Password" | translate}}:</label>
      <div class="position-relative">
        <input #pass
          formControlName="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="{{'Your Password' | translate}}...."
        />
        <span
          (click)="
            passwordShow = true;
            passwordShow == true
              ? (pass.type = 'text')
              : (pass.type = 'password')
          "
          [ngClass]="{
            'd-none': passwordShow,
            'end-0':translate.currentLang === 'en',
            'start-0':translate.currentLang === 'ar'
          }"
          role="button"
          class="position-absolute top-50 end-0 translate-middle-y mx-2"


        >
          <i class="fas fa-eye"></i>
        </span>

        <span
          (click)="passwordShow = false; passwordShow == false
              ? (pass.type = 'password')
              : (pass.type = 'text')"
          [ngClass]="{
            'd-none': !passwordShow,
            'end-0':translate.currentLang === 'en',
            'start-0':translate.currentLang === 'ar'
          }"
          role="button"
          class="position-absolute top-50 end-0 translate-middle-y mx-2"

        >
          <i class="fas fa-eye-slash"></i>
        </span>
      </div>

      <ng-container
        *ngIf="
          f['password'].errors &&
          (f['password'].value.length || f['password'].touched)
        "
      >
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="f['password'].getError('required')"
        >
          {{"Password Is Required" | translate}}
        </p>
        <p
          class="alert alert-danger w-50 mx-auto p-1 mb-0"
          *ngIf="f['password'].getError('pattern')"
        >
          {{"Must be at least 6 chars" | translate}}
        </p>
      </ng-container>
    </div>

    <div class="hstack justify-content-between">
      <button
        *ngIf="!isLoading"
        type="submit"
        [disabled]="loginForm.invalid"
        class="main-btn"
      >
        <span>{{"Login" | translate}}</span>
      </button>

      <button *ngIf="isLoading" type="button" disabled class="main-btn me-auto">
        <span> <i class="fas fa-spinner fa-spin"></i> </span>
      </button>

      <a role="button" class="link-primary" routerLink="/forgotlogin"
        >{{"Forgot Password" | translate}}</a
      >
    </div>

  </form>
</section>
