<div class="w-75 mx-auto py-4">

  <h4>Login Now</h4>
  <div *ngIf="apiError" class="alert alert-danger">{{apiError}}</div>
  <!-- <form (submit)="login()" #f=""></form> -->
  <form (ngSubmit)="login(loginForm)" [formGroup]="loginForm">

    <label for="email">Email: </label>
    <input formControlName="email" type="email" id="email" class="form-control mb-2">
    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0"> Email invalid</p>
      <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0"> Email is required</p>
    </div>

    <label for="password">Password: </label>
    <div class="password-input-container">
      <input formControlName="password" [type]="show ? 'text' : 'password'" id="password" class="form-control mb-2">
      <i (click)="showPassword()" class="toggle-icon" [class]="show ? 'fa fa-eye':'fa fa-eye-slash' " aria-hidden="true"></i>
    </div>
    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0"> Password must have At least one uppercase letter</p>
      <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0"> Password is required</p>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn d-block ms-auto border-0 bg-main text-white my-3 ">
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">login</span>
    </button>
  </form>

</div>










