<div class="w-75 mx-auto py-4">

  <h4>Register Now</h4>
  <div *ngIf="apiError" class="alert alert-danger">{{apiError}}</div>
  <form (ngSubmit)="register(registerForm)" [formGroup]="registerForm">
    <label for="name">Name: </label>
    <input formControlName="name" type="text" id="name" class="form-control mb-2">
    <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('name')?.getError('minlength')" class="m-0"> Name min lengtn is 3</p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="m-0"> Name max lengtn is 20</p>
      <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0"> Name is required</p>
    </div>

    <label for="email">Email: </label>
    <input formControlName="email" type="email" id="email" class="form-control mb-2">
    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0"> Email invalid</p>
      <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0"> Email is required</p>
    </div>

    <label for="password">Password: </label>
    <div class="password-input-container">
      <input formControlName="password" [type]="show ? 'text' : 'password'" id="password" class="form-control mb-2">
      <i (click)="showPassword()" class="toggle-icon" [class]="show ? 'fa fa-eye':'fa fa-eye-slash' " aria-hidden="true"></i>
    </div>
    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0"> Password must have At least one uppercase letter</p>
      <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0"> Password is required</p>
    </div>

    <label for="rePassword">Repassword: </label>
    <div class="password-input-container">
      <input formControlName="rePassword" [type]="reShow ? 'text' : 'password'" id="rePassword" class="form-control mb-2">
      <i (click)="showRepassword()" class="toggle-icon" [class]="reShow ? 'fa fa-eye':'fa fa-eye-slash' " aria-hidden="true"></i>
    </div>
    <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="m-0"> Repassword must have At least one uppercase letter</p>
      <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="m-0"> Repassword is required</p>
      <p *ngIf="registerForm.get('rePassword')?.getError('passwordMatch')" class="m-0"> Repassword doesn't match</p>
    </div>

    <label for="name">Phone: </label>
    <input formControlName="phone" type="tel" id="phone" class="form-control mb-2" placeholder="+201234567890">
    <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="m-0"> Enter a Valid Phone Number</p>
      <p *ngIf="registerForm.get('phone')?.getError('required')" class="m-0"> Phone is required</p>
    </div>

    <button [disabled]="registerForm.invalid" type="submit" class="btn d-block ms-auto border-0 bg-main text-white my-3 ">
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Register</span>
    </button>
  </form>

</div>










