
<div *ngIf="isLoading" class="w-75 h-100 position-absolute text-center bg-white">
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin h1 p-5"></i>
</div>

<div class="w-50 mx-auto my-5">
  <form [formGroup]="shippingAddress" (submit)="submitForm(shippingAddress)">

    <label for="details">Details: </label>
    <input formControlName="details" type="text" id="details" class="form-control mb-2">
    <div *ngIf="shippingAddress.get('details')?.errors && shippingAddress.get('details')?.touched" class="alert alert-danger">
      <p *ngIf="shippingAddress.get('details')?.getError('required')" class="m-0"> Details is required</p>
    </div>


    <label for="city">City: </label>
    <input formControlName="city" type="text" id="city" class="form-control mb-2">
    <div *ngIf="shippingAddress.get('city')?.errors && shippingAddress.get('city')?.touched" class="alert alert-danger">
      <p *ngIf="shippingAddress.get('city')?.getError('required')" class="m-0"> City is required</p>
    </div>

    <label for="name">Phone: </label>
    <input formControlName="phone" type="tel" id="phone" class="form-control mb-2" placeholder="+201234567890">
    <div *ngIf="shippingAddress.get('phone')?.errors && shippingAddress.get('phone')?.touched" class="alert alert-danger">
      <p *ngIf="shippingAddress.get('phone')?.getError('pattern')" class="m-0"> Enter a Valid Phone Number</p>
      <p *ngIf="shippingAddress.get('phone')?.getError('required')" class="m-0"> Phone is required</p>
    </div>

    <button [disabled]="shippingAddress.invalid" type="submit" class="btn d-block ms-auto border-0 bg-main text-white my-3 ">
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Pay</span>
    </button>
  </form>
</div>
